body{
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  /*background: url("louis-reed-pwcKF7L4-no-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;*/
}
