html, body, button, input, optgroup, select, textarea {
  font-family: "SUSE", sans-serif;
}

body{
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  /*background: url("louis-reed-pwcKF7L4-no-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;*/
}

#artifact-drop{
  /* top:65px;*/
}
